<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="report.css" rel="stylesheet">
  </head>
  <body id="runtimeReport">
    <ul class="header">
      <li class="selected">Runtime Report</li>
      <li><a href="applications.html">Application Report</a></li>
      <li><a href="runtime-package-app.html">Runtime Package -> Application</a></li>
      <li><a href="extra-package-app.html">Extra Package -> Application</a></li>
    </ul>
    <div class="summary">
      <table>
	<tr><td>FD/P</td><td> - org.freedesktop.Platform
	    {%if unmatched.freedesktop_platform > 0%}
	    (<a href="out/freedesktop-Platform.unmatched">{{unmatched.freedesktop_platform}} unmatched</a>)
	    {%endif%}
	  </td>
	</tr>
	<tr><td>GN/P</td><td> - org.gnome.Platform
	    {%if unmatched.gnome_platform > 0%}
	    (<a href="out/gnome-Platform.unmatched">{{unmatched.gnome_platform}} unmatched</a>)
	    {%endif%}
	  </td>
	</tr>
	<tr><td>FD/S</td><td> - org.freedesktop.Sdk</td></tr>
	<tr><td>GN/S</td><td> - org.gnome.Sdk</td></tr>
	<tr><td>LIVE</td><td> - F27 live image</td></tr>
	<tr><td>RF26</td><td> - F26 org.fedora.Platform</td></tr>
	<tr><td class="build-platform"></td><td> - Build in desktop-runtime module</td></tr>
	<tr><td class="build-sdk"></td><td> - Build in flatpak-runtime module</td></tr>
	<tr><td class="root"></td><td> - Root package, only included because of files in runtime</td></tr>
	<tr><td class="files"></td><td> - Included because of files in runtime, also depended upon</td></tr>
	<tr><td class="dep"></td><td> - Included because of dependencies</td></tr>
	<tr><td class="extra"></td><td> - Listed as an extra package in package-notes.txt</td></tr>
      </table>
      <div class="note">Mouse over shaded squares for details.</div>
    </div>
    <table class="packages">
      <tbody>
	{% for letter in letters %}
	<tr class="letter-header-above">
	</tr>
	<tr class="letter-header">
	  <th class="letter">{{ letter.letter }}</th>
	  <th title="org.freedesktop.Platform">FD/P</th>
	  <th title="org.gnome.Platform">GN/P</th>
	  <th title="org.freedesktop.Sdk">FD/S</th>
	  <th title="org.gnome.Sdk">GN/S</th>
	  <th>LIVE</th>
	  <th>RF26</th>
	  <th></th>
	</tr>
	{% for spackage in letter.packages %}
	<tr class="source-package {{ spackage.klass }}">
	  <td>{{ spackage.name }}</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td>{{ spackage.modules }}</td>
	</tr>
	{% for package in spackage.packages %}
	<tr class="package {{ package.klass }}">
	  <td>{{ package.name }}</td>
	  <td class="{{package.freedesktop_platform_inclusion}}" title="{{ package.freedesktop_platform_why }}"></td>
	  <td class="{{package.gnome_platform_inclusion}}" title="{{ package.gnome_platform_why }}"></td>
	  <td class="{{package.freedesktop_sdk_inclusion}}" title="{{ package.freedesktop_sdk_why }}"></td>
	  <td class="{{package.gnome_sdk_inclusion}}" title="{{ package.gnome_sdk_why }}"></td>
	  <td class="{{package.live_inclusion}}"></td>
	  <td class="{{package.rf26_inclusion}}"></td>
	  <td>{{ package.note }}</td>
	</tr>
	{% endfor %}
	{% endfor %}
	{% endfor %}
      </tbody>
  </body>
</html>
